.navbar-dark {
    background: rgb(30, 12, 110) !important;
}

.navbar-text {
    color: white !important;
    margin-bottom: 0 !important;
}

h3 {
    font-size: 200%;
}

.your-score {
    padding-left: 10% !important;
    font-size: 150% !important;
}

.high-score {
    padding-right: 10% !important;
    padding-left: 15% !important;
    text-align: right !important;
    font-size: 150% !important;
}